<a href="https://colab.research.google.com/github/parkyonguon/Data-Analysis-with-Open-Source/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
response.json()

{'energyUseDataSummaryInfo': {'list_total_count': 84,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '학교',
    'CNT': '4142',
    'EUS': '129747032',
    'EUS1': '142880159',
    'EUS2': '138232678',
    'ECO2_1': '-10809386.5',
    'ECO2_2': '-4583179.876',
    'GUS': '7146196',
    'GUS1': '8370038',
    'GUS2': '8426789',
    'GCO2_1': '-1252217.5',
    'GCO2_2': '-2804967.2',
    'WUS': '2243488.6',
    'WUS1': '2288624.2',
    'WUS2': '2348669.6',
    'WCO2_1': '-75158.3',
    'WCO2_2': '-24952.5556',
    'HUS': '1431',
    'HUS1': '1946',
    'HUS2': '1858',
    'HCO2_1': '-471',
    'HCO2_2': '-1875.522',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '개인',
    'CNT': '852483',
    'EUS': '203388142',
    'EUS1': '209110435',
    'EUS2': '210601335',
    'ECO2_1': '-6467743',
    'ECO2_2': '-2742323.032',
    'GUS': '40095231',
    'GUS1': '44067763',
    'GUS2': '47222920',
    'GCO2_1': '-5550110.5',
    'GCO2_2': '-12432247.52',
    'WUS': '13904162.958',
    'WUS1': '13901292.844',
    'WUS2': '13985482.345',
    'WCO2_1': '-39224.6365',
    'WCO2_2': '-13022.579318',
    'HUS': '21102616.717',
    'HUS1': '26420971.573',
    'HUS2': '24676994.275',
    'HCO2_1': '-4446366.207',
    'HCO2_2': '-59658969.202058',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '소상공인',
    'CNT': '13502',
    'EUS': '45317360',
    'EUS1': '47903086',
    'EUS2': '47496110',
    'ECO2_1': '-2382238',
    'ECO2_2': '-1010068.912',
    'GUS': '3587588',
    'GUS1': '3976103',
    'GUS2': '3978904',
    'GCO2_1': '-389915.5',
    'GCO2_2': '-873410.72',
    'WUS': '1258473.65',
    'WUS1': '1274858.8',
    'WUS2': '1275190.8',
    'WCO2_1': '-16551.15',
    'WCO2_2': '-5494.9818',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '종교단체',
    'CNT': '288',
    'EUS': '3390717',
    'EUS1': '3972522',
    'EUS2': '3913755',
    'ECO2_1': '-552421.5',
    'ECO2_2': '-234226.716',
    'GUS': '211045',
    'GUS1': '234612',
    'GUS2': '250167',
    'GCO2_1': '-31344.5',
    'GCO2_2': '-70211.68',
    'WUS': '31990',
    'WUS1': '30187',
    'WUS2': '29228',
    'WCO2_1': '2282.5',
    'WCO2_2': '757.79',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '기업',
    'CNT': '6661',
    'EUS': '445894696',
    'EUS1': '482299586',
    'EUS2': '475775696',
    'ECO2_1': '-33142945',
    'ECO2_2': '-14052608.68',
    'GUS': '17776013',
    'GUS1': '20985549',
    'GUS2': '21060548',
    'GCO2_1': '-3247035.5',
    'GCO2_2': '-7273359.52',
    'WUS': '4058540.8',
    'WUS1': '4108844.2',
    'WUS2': '4089066.4',
    'WCO2_1': '-40414.5',
    'WCO2_2': '-13417.614',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '공공기관',
    'CNT': '2097',
    'EUS': '148482042',
    'EUS1': '157137259',
    'EUS2': '155630485',
    'ECO2_1': '-7901830',
    'ECO2_2': '-3350375.92',
    'GUS': '4538066',
    'GUS1': '4885936',
    'GUS2': '5157799',
    'GCO2_1': '-483801.5',
    'GCO2_2': '-1083715.36',
    'WUS': '1132341.6',
    'WUS1': '1137319',
    'WUS2': '1131924.8',
    'WCO2_1': '-2280.3',
    'WCO2_2': '-757.0596',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '공동주택관리소',
    'CNT': '1799',
    'EUS': '292877773',
    'EUS1': '304108364',
    'EUS2': '307024310',
    'ECO2_1': '-12688564',
    'ECO2_2': '-5379951.136',
    'GUS': '11633072',
    'GUS1': '12375728',
    'GUS2': '13791790',
    'GCO2_1': '-1450687',
    'GCO2_2': '-3249538.88',
    'WUS': '12740295.5',
    'WUS1': '12787307.9',
    'WUS2': '12872436.5',
    'WCO2_1': '-89576.7',
    'WCO2_2': '-29739.4644',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '11',
    'MM_TYPE': '종교단체',
    'CNT': '288',
    'EUS': '2690264',
    'EUS1': '3028485',
    'EUS2': '3155146',
    'ECO2_1': '-401551.5',
    'ECO2_2': '-170257.836',
    'GUS': '123356',
    'GUS1': '119110',
    'GUS2': '132649',
    'GCO2_1': '-2523.5',
    'GCO2_2': '-5652.64',
    'WUS': '30862',
    'WUS1': '32542',
    'WUS2': '32570',
    'WCO2_1': '-1694',
    'WCO2_2': '-562.408',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-02-11 16:49:58.0'},
   {'YEAR': '2015',
    'MON': '11',
    'MM_TYPE': '공공기관',
    'CNT': '2116',
    'EUS': '147686501',
    'EUS1': '146594161',
    'EUS2': '151248155',
    'ECO2_1': '-1234657',
    'ECO2_2': '-523494.568',
    'GUS': '2443388',
    'GUS1': '2572512',
    'GUS2': '2707188',
    'GCO2_1': '-196462',
    'GCO2_2': '-440074.88',
    'WUS': '1424682',
    'WUS1': '1392070.8',
    'WUS2': '1357145.6',
    'WCO2_1': '50073.8',
    'WCO2_2': '16624.5016',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-02-11 16:49:58.0'},
   {'YEAR': '2015',
    'MON': '11',
    'MM_TYPE': '개인',
    'CNT': '849823',
    'EUS': '196892030',
    'EUS1': '200214469',
    'EUS2': '204193971',
    'ECO2_1': '-5312190',
    'ECO2_2': '-2252368.56',
    'GUS': '20322557',
    'GUS1': '21949496',
    'GUS2': '23564502',
    'GCO2_1': '-2434442',
    'GCO2_2': '-5453150.08',
    'WUS': '13692668.676',
    'WUS1': '13949272.738',
    'WUS2': '14314525.984',
    'WCO2_1': '-439230.685',
    'WCO2_2': '-145824.58742',
    'HUS': '11210982.51',
    'HUS1': '11613095.703',
    'HUS2': '13715610.396',
    'HCO2_1': '-1453370.5395',
    'HCO2_2': '-22742959.148302',
    'REG_DATE': '2016-02-11 16:49:58.0'}]}}

In [31]:
import requests
import json
url = "http://openapi.seoul.go.kr:8088/444d734d6870617238365454656e4b/json/energyUseDataSummaryInfo/1/10/2015"

params = {
    'serviceKey': 'api_key',
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}
response = requests.get(url, params=params)

if response.status_code == 200:
    print("api 호출 성공")
    print(response.json())
else:
    print(f"API 호출 실패: {response.status_code}")

api 호출 성공
{'energyUseDataSummaryInfo': {'list_total_count': 84, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2015', 'MON': '12', 'MM_TYPE': '학교', 'CNT': '4142', 'EUS': '129747032', 'EUS1': '142880159', 'EUS2': '138232678', 'ECO2_1': '-10809386.5', 'ECO2_2': '-4583179.876', 'GUS': '7146196', 'GUS1': '8370038', 'GUS2': '8426789', 'GCO2_1': '-1252217.5', 'GCO2_2': '-2804967.2', 'WUS': '2243488.6', 'WUS1': '2288624.2', 'WUS2': '2348669.6', 'WCO2_1': '-75158.3', 'WCO2_2': '-24952.5556', 'HUS': '1431', 'HUS1': '1946', 'HUS2': '1858', 'HCO2_1': '-471', 'HCO2_2': '-1875.522', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '개인', 'CNT': '852483', 'EUS': '203388142', 'EUS1': '209110435', 'EUS2': '210601335', 'ECO2_1': '-6467743', 'ECO2_2': '-2742323.032', 'GUS': '40095231', 'GUS1': '44067763', 'GUS2': '47222920', 'GCO2_1': '-5550110.5', 'GCO2_2': '-12432247.52', 'WUS': '13904162.958', 'WUS1': '13901292.844', 'WUS2': '13985482.345', 'WCO2_1': '-39224.6365', 'WCO2_2': '-13022.579318', 'HUS': '21102616.717', 'HUS1': '26420971.573', 'HUS2': '24676994.275', 'HCO2_1': '-4446366.207', 'HCO2_2': '-59658969.202058', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '소상공인', 'CNT': '13502', 'EUS': '45317360', 'EUS1': '47903086', 'EUS2': '47496110', 'ECO2_1': '-2382238', 'ECO2_2': '-1010068.912', 'GUS': '3587588', 'GUS1': '3976103', 'GUS2': '3978904', 'GCO2_1': '-389915.5', 'GCO2_2': '-873410.72', 'WUS': '1258473.65', 'WUS1': '1274858.8', 'WUS2': '1275190.8', 'WCO2_1': '-16551.15', 'WCO2_2': '-5494.9818', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '종교단체', 'CNT': '288', 'EUS': '3390717', 'EUS1': '3972522', 'EUS2': '3913755', 'ECO2_1': '-552421.5', 'ECO2_2': '-234226.716', 'GUS': '211045', 'GUS1': '234612', 'GUS2': '250167', 'GCO2_1': '-31344.5', 'GCO2_2': '-70211.68', 'WUS': '31990', 'WUS1': '30187', 'WUS2': '29228', 'WCO2_1': '2282.5', 'WCO2_2': '757.79', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '기업', 'CNT': '6661', 'EUS': '445894696', 'EUS1': '482299586', 'EUS2': '475775696', 'ECO2_1': '-33142945', 'ECO2_2': '-14052608.68', 'GUS': '17776013', 'GUS1': '20985549', 'GUS2': '21060548', 'GCO2_1': '-3247035.5', 'GCO2_2': '-7273359.52', 'WUS': '4058540.8', 'WUS1': '4108844.2', 'WUS2': '4089066.4', 'WCO2_1': '-40414.5', 'WCO2_2': '-13417.614', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '공공기관', 'CNT': '2097', 'EUS': '148482042', 'EUS1': '157137259', 'EUS2': '155630485', 'ECO2_1': '-7901830', 'ECO2_2': '-3350375.92', 'GUS': '4538066', 'GUS1': '4885936', 'GUS2': '5157799', 'GCO2_1': '-483801.5', 'GCO2_2': '-1083715.36', 'WUS': '1132341.6', 'WUS1': '1137319', 'WUS2': '1131924.8', 'WCO2_1': '-2280.3', 'WCO2_2': '-757.0596', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '12', 'MM_TYPE': '공동주택관리소', 'CNT': '1799', 'EUS': '292877773', 'EUS1': '304108364', 'EUS2': '307024310', 'ECO2_1': '-12688564', 'ECO2_2': '-5379951.136', 'GUS': '11633072', 'GUS1': '12375728', 'GUS2': '13791790', 'GCO2_1': '-1450687', 'GCO2_2': '-3249538.88', 'WUS': '12740295.5', 'WUS1': '12787307.9', 'WUS2': '12872436.5', 'WCO2_1': '-89576.7', 'WCO2_2': '-29739.4644', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-03-05 04:00:01.0'}, {'YEAR': '2015', 'MON': '11', 'MM_TYPE': '종교단체', 'CNT': '288', 'EUS': '2690264', 'EUS1': '3028485', 'EUS2': '3155146', 'ECO2_1': '-401551.5', 'ECO2_2': '-170257.836', 'GUS': '123356', 'GUS1': '119110', 'GUS2': '132649', 'GCO2_1': '-2523.5', 'GCO2_2': '-5652.64', 'WUS': '30862', 'WUS1': '32542', 'WUS2': '32570', 'WCO2_1': '-1694', 'WCO2_2': '-562.408', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-02-11 16:49:58.0'}, {'YEAR': '2015', 'MON': '11', 'MM_TYPE': '공공기관', 'CNT': '2116', 'EUS': '147686501', 'EUS1': '146594161', 'EUS2': '151248155', 'ECO2_1': '-1234657', 'ECO2_2': '-523494.568', 'GUS': '2443388', 'GUS1': '2572512', 'GUS2': '2707188', 'GCO2_1': '-196462', 'GCO2_2': '-440074.88', 'WUS': '1424682', 'WUS1': '1392070.8', 'WUS2': '1357145.6', 'WCO2_1': '50073.8', 'WCO2_2': '16624.5016', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2016-02-11 16:49:58.0'}, {'YEAR': '2015', 'MON': '11', 'MM_TYPE': '개인', 'CNT': '849823', 'EUS': '196892030', 'EUS1': '200214469', 'EUS2': '204193971', 'ECO2_1': '-5312190', 'ECO2_2': '-2252368.56', 'GUS': '20322557', 'GUS1': '21949496', 'GUS2': '23564502', 'GCO2_1': '-2434442', 'GCO2_2': '-5453150.08', 'WUS': '13692668.676', 'WUS1': '13949272.738', 'WUS2': '14314525.984', 'WCO2_1': '-439230.685', 'WCO2_2': '-145824.58742', 'HUS': '11210982.51', 'HUS1': '11613095.703', 'HUS2': '13715610.396', 'HCO2_1': '-1453370.5395', 'HCO2_2': '-22742959.148302', 'REG_DATE': '2016-02-11 16:49:58.0'}]}}

In [44]:
import pandas as pd
data=response.json()['energyUseDataSummaryInfo']['row']
df = pd.DataFrame(data)
df

,YEAR,MON,MM_TYPE,CNT,EUS,EUS1,EUS2,ECO2_1,ECO2_2,GUS,...,WUS1,WUS2,WCO2_1,WCO2_2,HUS,HUS1,HUS2,HCO2_1,HCO2_2,REG_DATE
0,2015,12,학교,4142,129747032,142880159,138232678,-10809386.5,-4583179.876,7146196,...,2288624.2,2348669.6,-75158.3,-24952.5556,1431,1946,1858,-471,-1875.522,2016-03-05 04:00:01.0
1,2015,12,개인,852483,203388142,209110435,210601335,-6467743,-2742323.032,40095231,...,13901292.844,13985482.345,-39224.6365,-13022.579318,21102616.717,26420971.573,24676994.275,-4446366.207,-59658969.202058,2016-03-05 04:00:01.0
2,2015,12,소상공인,13502,45317360,47903086,47496110,-2382238,-1010068.912,3587588,...,1274858.8,1275190.8,-16551.15,-5494.9818,0,0,0,0,0,2016-03-05 04:00:01.0
3,2015,12,종교단체,288,3390717,3972522,3913755,-552421.5,-234226.716,211045,...,30187,29228,2282.5,757.79,0,0,0,0,0,2016-03-05 04:00:01.0
4,2015,12,기업,6661,445894696,482299586,475775696,-33142945,-14052608.68,17776013,...,4108844.2,4089066.4,-40414.5,-13417.614,0,0,0,0,0,2016-03-05 04:00:01.0
5,2015,12,공공기관,2097,148482042,157137259,155630485,-7901830,-3350375.92,4538066,...,1137319,1131924.8,-2280.3,-757.0596,0,0,0,0,0,2016-03-05 04:00:01.0
6,2015,12,공동주택관리소,1799,292877773,304108364,307024310,-12688564,-5379951.136,11633072,...,12787307.9,12872436.5,-89576.7,-29739.4644,0,0,0,0,0,2016-03-05 04:00:01.0
7,2015,11,종교단체,288,2690264,3028485,3155146,-401551.5,-170257.836,123356,...,32542,32570,-1694,-562.408,0,0,0,0,0,2016-02-11 16:49:58.0
8,2015,11,공공기관,2116,147686501,146594161,151248155,-1234657,-523494.568,2443388,...,1392070.8,1357145.6,50073.8,16624.5016,0,0,0,0,0,2016-02-11 16:49:58.0
9,2015,11,개인,849823,196892030,200214469,204193971,-5312190,-2252368.56,20322557,...,13949272.738,14314525.984,-439230.685,-145824.58742,11210982.51,11613095.703,13715610.396,-1453370.5395,-22742959.148302,2016-02-11 16:49:58.0

In [ ]:
response.json()

{'energyUseDataSummaryInfo': {'list_total_count': 84,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '학교',
    'CNT': '4142',
    'EUS': '129747032',
    'EUS1': '142880159',
    'EUS2': '138232678',
    'ECO2_1': '-10809386.5',
    'ECO2_2': '-4583179.876',
    'GUS': '7146196',
    'GUS1': '8370038',
    'GUS2': '8426789',
    'GCO2_1': '-1252217.5',
    'GCO2_2': '-2804967.2',
    'WUS': '2243488.6',
    'WUS1': '2288624.2',
    'WUS2': '2348669.6',
    'WCO2_1': '-75158.3',
    'WCO2_2': '-24952.5556',
    'HUS': '1431',
    'HUS1': '1946',
    'HUS2': '1858',
    'HCO2_1': '-471',
    'HCO2_2': '-1875.522',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '개인',
    'CNT': '852483',
    'EUS': '203388142',
    'EUS1': '209110435',
    'EUS2': '210601335',
    'ECO2_1': '-6467743',
    'ECO2_2': '-2742323.032',
    'GUS': '40095231',
    'GUS1': '44067763',
    'GUS2': '47222920',
    'GCO2_1': '-5550110.5',
    'GCO2_2': '-12432247.52',
    'WUS': '13904162.958',
    'WUS1': '13901292.844',
    'WUS2': '13985482.345',
    'WCO2_1': '-39224.6365',
    'WCO2_2': '-13022.579318',
    'HUS': '21102616.717',
    'HUS1': '26420971.573',
    'HUS2': '24676994.275',
    'HCO2_1': '-4446366.207',
    'HCO2_2': '-59658969.202058',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '소상공인',
    'CNT': '13502',
    'EUS': '45317360',
    'EUS1': '47903086',
    'EUS2': '47496110',
    'ECO2_1': '-2382238',
    'ECO2_2': '-1010068.912',
    'GUS': '3587588',
    'GUS1': '3976103',
    'GUS2': '3978904',
    'GCO2_1': '-389915.5',
    'GCO2_2': '-873410.72',
    'WUS': '1258473.65',
    'WUS1': '1274858.8',
    'WUS2': '1275190.8',
    'WCO2_1': '-16551.15',
    'WCO2_2': '-5494.9818',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '종교단체',
    'CNT': '288',
    'EUS': '3390717',
    'EUS1': '3972522',
    'EUS2': '3913755',
    'ECO2_1': '-552421.5',
    'ECO2_2': '-234226.716',
    'GUS': '211045',
    'GUS1': '234612',
    'GUS2': '250167',
    'GCO2_1': '-31344.5',
    'GCO2_2': '-70211.68',
    'WUS': '31990',
    'WUS1': '30187',
    'WUS2': '29228',
    'WCO2_1': '2282.5',
    'WCO2_2': '757.79',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '기업',
    'CNT': '6661',
    'EUS': '445894696',
    'EUS1': '482299586',
    'EUS2': '475775696',
    'ECO2_1': '-33142945',
    'ECO2_2': '-14052608.68',
    'GUS': '17776013',
    'GUS1': '20985549',
    'GUS2': '21060548',
    'GCO2_1': '-3247035.5',
    'GCO2_2': '-7273359.52',
    'WUS': '4058540.8',
    'WUS1': '4108844.2',
    'WUS2': '4089066.4',
    'WCO2_1': '-40414.5',
    'WCO2_2': '-13417.614',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '공공기관',
    'CNT': '2097',
    'EUS': '148482042',
    'EUS1': '157137259',
    'EUS2': '155630485',
    'ECO2_1': '-7901830',
    'ECO2_2': '-3350375.92',
    'GUS': '4538066',
    'GUS1': '4885936',
    'GUS2': '5157799',
    'GCO2_1': '-483801.5',
    'GCO2_2': '-1083715.36',
    'WUS': '1132341.6',
    'WUS1': '1137319',
    'WUS2': '1131924.8',
    'WCO2_1': '-2280.3',
    'WCO2_2': '-757.0596',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '12',
    'MM_TYPE': '공동주택관리소',
    'CNT': '1799',
    'EUS': '292877773',
    'EUS1': '304108364',
    'EUS2': '307024310',
    'ECO2_1': '-12688564',
    'ECO2_2': '-5379951.136',
    'GUS': '11633072',
    'GUS1': '12375728',
    'GUS2': '13791790',
    'GCO2_1': '-1450687',
    'GCO2_2': '-3249538.88',
    'WUS': '12740295.5',
    'WUS1': '12787307.9',
    'WUS2': '12872436.5',
    'WCO2_1': '-89576.7',
    'WCO2_2': '-29739.4644',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-03-05 04:00:01.0'},
   {'YEAR': '2015',
    'MON': '11',
    'MM_TYPE': '종교단체',
    'CNT': '288',
    'EUS': '2690264',
    'EUS1': '3028485',
    'EUS2': '3155146',
    'ECO2_1': '-401551.5',
    'ECO2_2': '-170257.836',
    'GUS': '123356',
    'GUS1': '119110',
    'GUS2': '132649',
    'GCO2_1': '-2523.5',
    'GCO2_2': '-5652.64',
    'WUS': '30862',
    'WUS1': '32542',
    'WUS2': '32570',
    'WCO2_1': '-1694',
    'WCO2_2': '-562.408',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-02-11 16:49:58.0'},
   {'YEAR': '2015',
    'MON': '11',
    'MM_TYPE': '공공기관',
    'CNT': '2116',
    'EUS': '147686501',
    'EUS1': '146594161',
    'EUS2': '151248155',
    'ECO2_1': '-1234657',
    'ECO2_2': '-523494.568',
    'GUS': '2443388',
    'GUS1': '2572512',
    'GUS2': '2707188',
    'GCO2_1': '-196462',
    'GCO2_2': '-440074.88',
    'WUS': '1424682',
    'WUS1': '1392070.8',
    'WUS2': '1357145.6',
    'WCO2_1': '50073.8',
    'WCO2_2': '16624.5016',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2016-02-11 16:49:58.0'},
   {'YEAR': '2015',
    'MON': '11',
    'MM_TYPE': '개인',
    'CNT': '849823',
    'EUS': '196892030',
    'EUS1': '200214469',
    'EUS2': '204193971',
    'ECO2_1': '-5312190',
    'ECO2_2': '-2252368.56',
    'GUS': '20322557',
    'GUS1': '21949496',
    'GUS2': '23564502',
    'GCO2_1': '-2434442',
    'GCO2_2': '-5453150.08',
    'WUS': '13692668.676',
    'WUS1': '13949272.738',
    'WUS2': '14314525.984',
    'WCO2_1': '-439230.685',
    'WCO2_2': '-145824.58742',
    'HUS': '11210982.51',
    'HUS1': '11613095.703',
    'HUS2': '13715610.396',
    'HCO2_1': '-1453370.5395',
    'HCO2_2': '-22742959.148302',
    'REG_DATE': '2016-02-11 16:49:58.0'}]}}